<section
  id="proteccion-de-datos-y-derechos-de-imagen"
  class="flex flex-col gap-4 mb-12 text-gray-600"
>
  <h2 class="text-3xl md:text-4xl font-bold text-blue-900">
    Protección de datos y derechos de imagen
  </h2>

  <h3 class="text-xl font-bold text-blue-900 mt-4">
    Ley Orgánica de Protección de Datos (LOPD)
  </h3>

  <p>
    Los delegados de cada club y los jugadores inscritos autorizan a la
    organización del campeonato a la difusión de información o a la utilización
    de imágenes, así como del nombre del equipo y de sus jugadores en medios de
    comunicación, transmisiones, publicidades y memorias de la competición. Esta
    autorización se concede siempre que no represente un menoscabo de su honor o
    reputación, ni sea contraria a sus derechos, y siempre dentro del marco
    legal establecido en el Código Civil, la Ley de Enjuiciamiento Civil y la
    Ley Orgánica 3/2018, de 5 de diciembre, de Protección de Datos Personales y
    garantía de los derechos digitales.
  </p>

  <h3 class="text-xl font-bold text-blue-900 mt-4">
    Cesión de derechos de imagen
  </h3>

  <p>
    La inscripción en este torneo implica la aceptación de sus bases, así como
    la autorización expresa y voluntaria a la organización para utilizar de
    forma gratuita los vídeos, imágenes y/o grabaciones de sonido en los que
    intervenga el jugador, incluidos aquellos facilitados por el propio jugador.
  </p>

  <p>Esta autorización se concede con la finalidad de:</p>

  <ul class="list-disc ml-12 space-y-2">
    <li>
      Publicar los materiales en la página web oficial del torneo y en las redes
      sociales de la organización.
    </li>
    <li>
      Incluirlos en cualquier publicación impresa y/o digital destinada a
      aumentar la visibilidad y difusión de la actividad de la organización.
    </li>
  </ul>

  <p>
    La autorización abarca todos los usos posibles de los vídeos, imágenes y
    grabaciones de sonido en los que aparezca el jugador, utilizando los medios
    técnicos disponibles actualmente y los que pudieran desarrollarse en el
    futuro, salvo aquellos usos que puedan atentar contra el derecho al honor en
    los términos previstos en la Ley Orgánica 1/1982, de 5 de mayo, de
    Protección Civil del Derecho al Honor, a la Intimidad Personal y Familiar y
    a la Propia Imagen.
  </p>

  <p>
    La cesión de derechos no establece límite de tiempo para su concesión ni
    para su explotación, considerándose válida por un plazo ilimitado.
  </p>
</section>
