<section
  id="disposiciones-finales"
  class="flex flex-col gap-4 mb-12 text-gray-600"
>
  <h2 class="text-3xl md:text-4xl font-bold text-blue-900">
    Disposiciones finales
  </h2>
  <p>
    La participación en el torneo supone la aceptación íntegra del presente
    reglamento.
  </p>

  <p>
    Cualquier caso no previsto expresamente en estas bases será resuelto por la
    organización y el árbitro principal, de acuerdo con la normativa FIDE y las
    buenas prácticas de competición.
  </p>

  <p>
    La organización se reserva el derecho de modificar el reglamento antes del
    inicio del torneo, en cuyo caso las modificaciones serán comunicadas
    oportunamente a todos los participantes.
  </p>
</section>
