<section class="flex flex-col gap-4 mb-12 text-gray-600">
  <h2 class="text-3xl md:text-4xl font-bold text-blue-900">
    Información general
  </h2>

  <p>
    El XIV Torneo Internacional Ciudad de Pontevedra se celebrará del 24 al 30
    de julio de 2026, en la ciudad de Pontevedra (Galicia, España).
  </p>

  <p>
    El torneo está organizado por la Escola Xadrez Pontevedra, con la
    colaboración del Concello de Pontevedra, la Deputación de Pontevedra, la
    Universidade de Vigo, Zona Informática y el Colegio Los Sauces Pontevedra, y
    se disputará en el Pabellón Deportivo Universitario, situado en el Campus
    Universitario de Pontevedra, a escasos minutos del centro histórico de la
    ciudad.
  </p>

  <p>
    El torneo tiene carácter oficial, es válido para ELO FIDE, ELO FEDA y normas
    internacionales (Grupo A), y se rige por las Leyes del Ajedrez de la FIDE
    vigentes en el momento de la competición.
  </p>

  <p>
    La participación en el torneo implica la aceptación íntegra del presente
    reglamento.
  </p>
</section>
