<section class="flex flex-col gap-4 mb-12 text-gray-600">
  <h2 class="text-3xl md:text-4xl font-bold text-blue-900">
    Regla especial Pontevedra
  </h2>
  <p>
    Como norma específica del torneo, y con el objetivo de fomentar el juego
    competitivo y el espectáculo deportivo:
  </p>

  <ul class="list-disc ml-12 space-y-2">
    <li>
      En las 15 primeras mesas, las partidas deberán tener una duración mínima
      de 1 hora y un mínimo de 20 jugadas.
    </li>
    <li>
      Los acuerdos de tablas que no cumplan estos requisitos no estarán
      permitidos, salvo autorización expresa del árbitro.
    </li>
  </ul>

  <p>Esta norma será supervisada por el equipo arbitral.</p>
</section>
