<section id="desempates" class="content-section">
  <h2 class="section-heading">Desempates</h2>

  <p>
    En caso de empate a puntos en la clasificación final, el orden se
    establecerá aplicando los sistemas de desempate oficiales, en el siguiente
    orden:
  </p>

  <ol class="list-decimal ml-12 space-y-2">
    <li>Media del Buchholz de los rivales (AOB).</li>
    <li>Buchholz-1 eliminando el valor más bajo (BH-C1).</li>
    <li>Buchholz total (BH).</li>
    <li>Encuentro directo (DE).</li>
    <li>Media del desempeño de los oponentes (APRO).</li>
  </ol>

  <p>
    Los sistemas de desempate aplicados serán publicados junto con las
    clasificaciones oficiales del torneo.
  </p>
</section>
