<section id="ritmo-de-juego" class="flex flex-col gap-4 mb-12 text-gray-600">
  <h2 class="text-3xl md:text-4xl font-bold text-blue-900">Ritmo de juego</h2>

  <p>
    El ritmo de juego del torneo será de 90 minutos por jugador, con un
    incremento de 30 segundos por jugada desde el primer movimiento.
  </p>

  <p>
    Este control de tiempo es oficial FIDE, por lo que todas las partidas
    disputadas serán válidas para la obtención de ELO FIDE y ELO FEDA, así como
    para la consecución de normas internacionales en el Grupo A, siempre que se
    cumplan los requisitos establecidos por la FIDE.
  </p>
</section>
