<section
  class="bg-blue-50 rounded-3xl shadow-lg flex flex-col md:flex-row md:items-center justify-between gap-4 p-6 mb-12"
>
  <p class="text-blue-900">
    ¿Listo para competir? 24 &mdash; 30 de julio de 2026 &CenterDot; Pabellón
    Deportivo Universitario, Pontevedra.
  </p>
  <a
    href="/reglamento#inscripciones"
    class="button-primary whitespace-nowrap w-fit"
  >
    Inscribirme ahora
  </a>
</section>
