<section class="text-gray-600 mb-12">
  <p>
    Todos los premios están sujetos a la legislación vigente. Los jugadores
    deberán facilitar un número de cuenta bancaria para el pago por
    transferencia. Los premios no son acumulables: en caso de optar a varios, se
    otorgará el de mayor valor.
  </p>
</section>
