<section id="byes" class="content-section">
  <h2 class="section-heading">Byes</h2>

  <p>
    Los jugadores podrán solicitar por escrito un máximo de tres byes de 0,5
    puntos.
  </p>

  <p>
    Ningún bye será considerado oficial sin la confirmación expresa por parte de
    la organización.
  </p>

  <p>Los byes solicitados para las rondas 7, 8 y 9 serán de 0 puntos.</p>

  <p>Los jugadores invitados no podrán solicitar byes.</p>
</section>
