---
import type { Lang } from "@i18n/config.ts";
import { useTranslations } from "@i18n/ui.ts";

export interface Props {
  lang: Lang;
}

const { lang } = Astro.props;
const t = useTranslations(lang);
---

<section id="grupos-y-categorias" class="content-section">
  <h2 class="section-heading">
    {t("GroupsAndCategoriesSection.title")}
  </h2>

  <p>{t("GroupsAndCategoriesSection.p1")}</p>

  <ul class="list-disc ml-12 space-y-2">
    <li>
      {t("GroupsAndCategoriesSection.groupA")}
    </li>

    <li>
      {t("GroupsAndCategoriesSection.groupB")}
    </li>
  </ul>

  <p>
    {t("GroupsAndCategoriesSection.p2")}
  </p>

  <p>
    {t("GroupsAndCategoriesSection.p3")}
  </p>
</section>
