---
import type { Lang } from "@i18n/config.ts";
import { useTranslations } from "@i18n/ui.ts";

export interface Props {
  lang: Lang;
}

const { lang } = Astro.props;
const t = useTranslations(lang);
---

<section class="content-section">
  <h1 class="section-heading">{t("bases.TitleSection.title")}</h1>

  <p>
    {t("bases.TitleSection.p1")}
  </p>
</section>
