---
import MapIsland from "@components/global/MapIsland.tsx";

import type { Lang } from "@i18n/config.ts";
import { useTranslations } from "@i18n/ui.ts";

export interface Props {
  lang: Lang;
}

const { lang } = Astro.props;
const t = useTranslations(lang);
---

<section id="local-de-juego" class="content-section">
  <h2 class="section-heading">{t("VenueSection.title")}</h2>

  <p>
    {t("VenueSection.p1")}
  </p>

  <p>{t("VenueSection.p2")}</p>

  <MapIsland
    lang={lang}
    src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d11779.010525064095!2d-8.641!3d42.433!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd2f71640de0accd%3A0xa46cae60fcd8407f!2sPabell%C3%B3n%20Universitario%20de%20Pontevedra!5e0!3m2!1ses!2ses!4v1771868138125!5m2!1ses!2ses"
    class="relative min-h-48"
    iframeClass="absolute inset-0 w-full h-full"
    client:load
  />
</section>
