---
import ConcelloPontevedra from "@assets/logos/ConcelloPontevedra.svg";
import DeporteGalego from "@assets/logos/DeporteGalego.svg";
import DeportePontevedra from "@assets/logos/DeportePontevedra.svg";
import DeputacionPontevedra from "@assets/logos/DeputacionPontevedra.svg";
import UniversidadeVigo from "@assets/logos/UniversidadeVigo.svg";
import LosSauces from "@assets/logos/LosSauces.svg";
import FIDE from "@assets/logos/FIDE.svg";

const sponsors = [
  { logo: ConcelloPontevedra, name: "Concello de Pontevedra", size: "primary" },
  {
    logo: DeputacionPontevedra,
    name: "Deputación de Pontevedra",
    size: "primary",
  },
  { logo: DeporteGalego, name: "Deporte Galego", size: "secondary" },
  { logo: DeportePontevedra, name: "Deporte Pontevedra", size: "secondary" },
  { logo: UniversidadeVigo, name: "Universidade de Vigo", size: "primary" },
  { logo: LosSauces, name: "Los Sauces", size: "secondary" },
  { logo: FIDE, name: "FIDE", size: "secondary" },
];
---

<section class="flex flex-col gap-8 mb-12">
  <div class="flex flex-col gap-4">
    <h2 class="section-heading">Nuestros colaboradores</h2>

    <p class="text-gray-600">
      El respaldo institucional y técnico que garantiza la excelencia del torneo
      año tras año.
    </p>
  </div>

  <div class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-5 gap-4">
    {
      sponsors.map(({ logo: Logo, name, size }) => (
        <div
          class={`card flex items-center justify-center p-6 ${
            size === "primary" ? "md:col-span-2" : ""
          }`}
        >
          <Logo aria-label={name} class="w-full text-blue-900 h-12" />
        </div>
      ))
    }
  </div>
</section>
