<section class="mb-12">
  <div
    class="flex flex-col md:flex-row md:items-center justify-between gap-4 p-6 bg-blue-50 rounded-3xl shadow-lg"
  >
    <p class="text-blue-900">
      ¿Tu empresa quiere impulsar el ajedrez internacional? Únete como
      colaborador del torneo.
    </p>
    <a href="/contacto" class="button button-primary whitespace-nowrap w-fit">
      Solicitar información
    </a>
  </div>
</section>
