<section
  class="bg-blue-50 rounded-3xl shadow-lg flex flex-col md:flex-row md:items-center justify-between gap-4 p-6 mb-12"
>
  <p class="text-blue-900">
    ¿Tu empresa quiere impulsar el ajedrez internacional? Únete como colaborador
    del torneo.
  </p>
  <a href="/contacto" class="button-primary whitespace-nowrap w-fit">
    Solicitar información
  </a>
</section>
