---
import type { Lang } from "@i18n/config.ts";
import { useTranslations } from "@i18n/ui.ts";
import { getPath } from "@i18n/utils.ts";

export interface Props {
  lang: Lang;
}

const { lang } = Astro.props;
const t = useTranslations(lang);
---

<section
  class="bg-blue-50 rounded-3xl shadow-lg flex flex-col md:flex-row md:items-center justify-between gap-4 p-6 mb-12"
>
  <p class="text-blue-900">
    {t("SponsorCTASection.text")}
  </p>
  <a
    href={getPath(lang, "contacto")}
    class="button-primary whitespace-nowrap w-fit"
  >
    {t("SponsorCTASection.button")}
  </a>
</section>
