---
import LiveBoardsIsland from "./LiveBoardsIsland.tsx";
---

<section class="mb-12">
  <div class="flex flex-col gap-4">
    <h2 class="text-3xl md:text-4xl font-bold text-blue-900">
      Sigue el torneo en directo
    </h2>

    <LiveBoardsIsland client:load />
  </div>
</section>
