<section class="content-section">
  <h2 class="section-heading">Contacto</h2>

  <p>
    ¿Tienes alguna duda sobre el torneo? Elige la forma que prefieras para
    comunicarte con nosotros.
  </p>
</section>
