---
import type { Lang } from "@i18n/config.ts";
import { useTranslations } from "@i18n/ui.ts";

export interface Props {
  lang: Lang;
}

const { lang } = Astro.props;
const t = useTranslations(lang);
---

<section class="content-section">
  <h2 class="section-heading">{t("contacto.TitleSection.title")}</h2>

  <p>
    {t("contacto.TitleSection.p1")}
  </p>
</section>
