<section class="flex flex-col gap-4 mb-12">
  <h2 class="text-3xl md:text-4xl font-bold text-blue-900">Transporte</h2>

  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-4">
    <div class="rounded-3xl bg-white p-6 shadow-lg flex flex-col gap-2">
      <span class="text-xs font-bold uppercase tracking-widest text-blue-900">
        🚍 Autobús
      </span>

      <p class="text-gray-600 text-sm">
        Conexiones directas desde diferentes puntos de Galicia.
      </p>

      <a
        href="https://www.autobusespontevedra.com"
        target="_blank"
        rel="noopener noreferrer"
        class="link text-sm"
      >
        autobusespontevedra.com
      </a>
    </div>

    <div class="rounded-3xl bg-white p-6 shadow-lg flex flex-col gap-2">
      <span class="text-xs font-bold uppercase tracking-widest text-blue-900">
        🚆 Tren
      </span>

      <p class="text-gray-600 text-sm">
        Estación de Pontevedra con servicios regionales y nacionales.
      </p>

      <a
        href="https://www.renfe.com"
        target="_blank"
        rel="noopener noreferrer"
        class="link text-sm"
      >
        renfe.com
      </a>
    </div>

    <div class="rounded-3xl bg-white p-6 shadow-lg flex flex-col gap-2">
      <span class="text-xs font-bold uppercase tracking-widest text-blue-900">
        🚘 Automóvil
      </span>
      <p class="text-gray-600 text-sm">
        Aparcamientos gratuitos disponibles en el entorno del Pazo da Cultura.
      </p>

      <a
        href="https://maps.app.goo.gl/amBQQKXyUR1kasvP8"
        target="_blank"
        rel="noopener noreferrer"
        class="link text-sm"
      >
        google.com/maps
      </a>
    </div>

    <div class="rounded-3xl bg-white p-6 shadow-lg flex flex-col gap-2">
      <span class="text-xs font-bold uppercase tracking-widest text-blue-900">
        🚖 Taxi
      </span>
      <p class="text-gray-600 text-sm">
        Servicio 24 horas en la ciudad de Pontevedra.
      </p>
      <a
        href="https://radiotaxipontevedra.es"
        target="_blank"
        rel="noopener noreferrer"
        class="link text-sm"
      >
        radiotaxipontevedra.es
      </a>
    </div>
  </div>
</section>
