---
import type { Lang } from "@i18n/config.ts";

import PlayersIsland from "./PlayersIsland.tsx";

export interface Props {
  lang: Lang;
}

const { lang } = Astro.props;
---

<section class="mb-12">
  <PlayersIsland lang={lang} client:load />
</section>
