---
export interface Props {
  href: string;
  class?: string;
}
const { href, class: extraClass = "" } = Astro.props;
---

<a href={href} class:list={["text-gray-600 hover:text-blue-900", extraClass]}>
  <slot />
</a>
