---
import Pawn from "@assets/icons/Pawn.svg";

export interface Props {
  animated?: boolean;
  linkToHome?: boolean;
}
const { animated = true, linkToHome = true } = Astro.props;

const Element = linkToHome ? "a" : "div";
---

<div class="flex items-center whitespace-nowrap gap-2">
  <Pawn class="w-12 h-12 fill-blue-900 flex-none" />
  <Element
    href={linkToHome ? "/" : undefined}
    class:list={["group text-blue-900", { "cursor-default": !linkToHome }]}
  >
    <span class="relative inline-block">
      <span class="block text-base leading-tight"> Torneo Internacional </span>
      <span class="block text-xs tracking-widest font-bold uppercase">
        Ciudad de Pontevedra
      </span>
      <span
        class:list={[
          "absolute left-0 -bottom-[2px] w-0 h-0.5 bg-blue-900 transition-all duration-300",
          animated ? "group-hover:w-full" : "",
        ]}
      >
      </span>
    </span>
  </Element>
</div>
